/* Empty. Add your own CSS if you like */
.cui-add-group {
	font-size: 30px !important;
}

.has-next {
	margin-right: 5px;
}
.has-next-1 {
	margin-right: 10px;
}
.has-next-2 {
	margin-right: 15px;
}
.has-next-3 {
	margin-right: 20px;
}
.has-next-4 {
	margin-right: 25px;
}
.has-next-5 {
	margin-right: 30px;
}
